.movie-detail-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  background-color: #000;
  color: #fff;
  flex-wrap: wrap;
}

.left-column {
  flex: 1;
  max-width: 300px;
}

.movie-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sinopsis-title {
  color: #e60000;
  font-size: 20px;
  margin-top: 10px;
}

.sinopsis-text {
  line-height: 1.5;
  text-align: justify;
}

.right-column {
  flex: 2;
  min-width: 300px;
}

.movie-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
}

.date-selector {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  justify-content: center; 
  flex-wrap: wrap;
}

.date-box {
  background-color: #222;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #ff2222;
  color: white;
  font-weight: bold;
  min-width: 80px;
  cursor: pointer;
}

.date-box.active {
  background-color: #ff2222;
  color: white;
}
.cinema-info {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.cinema-name {
  color: #ff2222;
  font-weight: bold;
}

.showtimes {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0; 
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

.showtimes.active {
  opacity: 1; 
  transform: translateY(0); 
}
.showtime-button {
  background-color: #ff2222;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.showtime-button:hover {
  background-color: #ff0000;
  color: white;
}
